@media (min-width: 1025px) {
	.intro-fade-in {
		position: absolute;
	    left: 0px;
	    top: 0px;
	    right: 0px;
	    bottom: 0px;
	}
	.intro {
		top: 50%;
		transform: translateY(-50%);

		.title {
			font-size: 90px;
			line-height: 108px;
		}
	}
}