@media (min-width: 768px) and (max-width: 1024px) {
	.sidebar-fade-in {
		max-width: none;
	}
	.sidebar {
		.sidebar-inner {
			margin-left: -30px;
		}
		.section-fade-in {
			width: 50%;
		    display: inline-block;
		    padding-left: 30px;
		    margin-right: -4px;
		}
		.contact {
			margin-left: 30px;
		}
	}
}