@font-face {
    font-family: "Jost-Light";
    src: url("./../assets/fonts/jost-300-light.ttf") format("truetype"),
         url("./../assets/fonts/jost-300-light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Jost-Book";
    src: url("./../assets/fonts/jost-400-book.ttf") format("truetype"),
         url("./../assets/fonts/jost-400-book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

$jost-light: "Jost-Light";

$jost-book: "Jost-Book";

@import url( 'https://fonts.googleapis.com/css?family=Playfair+Display' );

$playfair: 'Playfair Display', serif;