*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	color: $black;
	font-family: $roboto;
	font-size: 14px;
	line-height: 21px;
}

@media (min-width: 1025px) {
	body {
		overflow: hidden;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $playfair;
	font-weight: 100;
	margin-bottom: 15px;
}

h1,
.h1 {
	font-size: 42px;
	line-height: 48px;
}

h2,
.h2 {
	font-size: 34px;
	line-height: 39px;
}

h3,
.h3 {
	font-size: 28px;
	line-height: 32px;
}

h4,
.h4 {
	font-size: 21px;
	line-height: 24px;
}

h5,
.h5 {
	font-size: 18px;
	line-height: 21px;
}

h6,
.h6 {
	font-size: 16px;
	line-height: 18px;
}

img {
	display: block;
	width: 100%;
}

a {
	display: inline-block;
	cursor: pointer;
}